

.teams {
	display: flex;
	flex-direction: row;            
	flex-wrap: wrap; 
	width: 80%;
	justify-content: center;
	margin-left: 80px;
	margin-right: 80px;
}

.teams > form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.teams > div > ul {
	border: 0.2px inset black;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px; 
}

.teams > div > ul > div {
	text-decoration: underline; 
	text-decoration-color: #00FFFF;
	text-decoration-thickness: 3px;
	padding-bottom: 5px;
}

.teams > div {
	margin-top: 5px; 
	display: flex;
	flex-direction: row;            
	flex-wrap: wrap; 
	justify-content: center;
}

.line {
	margin-top: 20px;
	height: 1px;
	background-color: black;
	width: 80%;
}

input[type=number] {
  width: 35px;
}


header {
    text-align: center;
    background-color: rgba(48, 161, 161, 0.349);
    color: rgb(55, 55, 66);
}

main section h2 {
    text-decoration: underline;
}

main section form input {
    border: 2px solid rgb(37, 159, 180);
}

main section form button:hover {
    background-color: darkgray;
}

html,
body {
    height: 100%;
}

main {
    min-height: calc(100% - 4rem);
}

footer {
    height: 4rem;
}

